# requirements.txt

# Core App & Data
streamlit
pandas

# Cloud & API Services
google-cloud-aiplatform
requests
# Pinning protobuf is often necessary for Google Cloud libs
protobuf==4.25.3
# Resolves a known dependency conflict
fsspec<=2025.3.0

# Local ML/AI
transformers==4.42.0
torch==2.3.0
accelerate
bitsandbytes
huggingface_hub==0.23.2

# Image Processing
opencv-python-headless
imagehash
Pillow
